

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
<form action="" method="post">
	{% csrf_token %}
	<div class="form-group">

	<input type="text" class="form-control my-5" name="name" placeholder="Enter Search">
	<input type="submit" class="btn btn-success" name="submit" value="submit">
	</div>
</form>
</div>
</div>
</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col" style="width :20%">Date</th>
      <th scope="col" style="width :15%">Bill no</th>
      <th scope="col" style="width :15%">Bill Amount</th>
      <th scope="col" style="width :20%">Payment</th>
      <th scope="col" style="width :30%">Paticulars</th>

    </tr>
  </thead>
  <tbody>

{% for item in q %}



{% ifequal item.trans_client.client_name name %}



  
    <tr>
      <th scope="row">{{item.date}}</th>
      <td>{{item.billno}}</td>
      <td>{{item.bill}}</td>
      <td>{{item.payment}}</td>
      <td>{{item.paticular}}</td>
    </tr>
   
 


{% endifequal %}


{% endfor %}
</tbody>
</table>


{% endblock %}
